<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
  <link rel="stylesheet" href="{{ '/style.css?v=1.0' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/logo1.png' | relative_url }}">
  <link rel="apple-touch-icon" href="{{ '/logo1.png' | relative_url }}">
  
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
</head>

<body>

  <!-- Navbar Include -->
  {% include navbar.html %}

  <!-- Page Content -->
  {{ content }}

  <!-- Footer Include -->
  {% include footer.html %}

  <script src="{{ '/style.js' | relative_url }}"></script>
</body>
</html></html>
