<nav>
  <div class="logo">
    <a href="{{ '/' | relative_url }}">
      <img src="{{ '/images/rlogo.png' | relative_url }}" alt="Downsville Ruritan Club Logo">
    </a>
  </div>

  <ul class="menu">
    <li><a href="{{ '/index.html' | relative_url }}">Home</a></li>
    
    <li class="dropdown">
      <a href="aboutus.html">About Us ▾</a>
      <ul class="dropdown-content">
        <li><a href="{{ '/missiom.html' | relative_url }}">Our Mission</a></li>
      </ul>
    </li>

    <li><a href="{{ '/calendat.html' | relative_url }}">Events Calendar</a></li>
    <li><a href="{{ '/rentals.html' | relative_url }}">Building Rental</a></li>
    <li><a href="{{ '/contact.html' | relative_url }}">Contact Us</a></li>
  </ul>

  <div id="navSearchContainer">
    <input type="text" id="searchBox" placeholder="Search...">
    <button id="searchButton" type="button">🔍</button>
  </div>
</nav>
