<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="{{ '/style.css?v=1.0' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/logo1.png' | relative_url }}">
  <link rel="apple-touch-icon" href="{{ '/logo1.png' | relative_url }}"> 
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
</head>

<body>

  <!-- Navbar -->
  {% include navbar.html %}

  <!-- Main Content -->
  {{ content }}

  <!-- Footer -->
  {% include footer.html %}

  <script src="{{ '/style.js' | relative_url }}"></script>
</body>
</html>    <div class="location-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3060.395219312246!2d-77.779747184623!3d39.58825497948585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c9f104e3fba97f%3A0x1760e52c7485a60a!2s8629%20Downsville%20Pike%2C%20Williamsport%2C%20MD%2021795!5e0!3m2!1sen!2sus!4v1707483271971!5m2!1sen!2sus"
        width="100%" height="250" style="border:0;" loading="lazy" allowfullscreen="">
      </iframe>
    </div>
  </div>
</section>
